@model Vidly.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



    
        @foreach (var movie in Model.Movies)
        {
            <table>
        <tr>
            <td><a href="~/ViewModels/RandomMovieViewModel.cs">@movie.Name</a></td>
    
        </tr>
            </table>
        }
    



