@model IEnumerable<Vidly.Models.Customer>
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


 
    <table>
        <h1>Customers</h1>
        @foreach (var customer in Model)
        {
            <tr>
                <td>
                    
                    @Html.ActionLink(customer.Name, "CustomerDetails", "Customers", new { id = customer.Id }, null);
                </td>
            </tr>
        }
    </table>


