@model Vidly.ViewModels.RandomCustomerViewModel
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.Customers.Count == 0)
    {
        <p>No customers available</p>
    }
    else
    {
<table>
    @foreach (var customer in Model.Customers)
    {
    <tr>
    <td>
        @Html.ActionLink(customer.Name, "CustomerDetails", "Customers", new { id=customer.Id },null);
        </td>
    </tr>
    }
</table>
}

